.container {
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 20px;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    box-shadow:0px 3px 10px #00000030;
  }
.inputs{
  display: flex;
}
.input{
  margin: 10px;
}