.container {
    width: 100%;
    background-color: red;
    display: flex;
    padding: 10px 50px;
    justify-content: space-around;
    height: 80px;
  }
.inputs{
  display: flex;
  height: 60px;
}
.input{
  margin: 10px;
  
}